*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #0D1249;
}
.cabecalho{
    position: sticky;
    top: 0;
    z-index: 99;
}
.apresentacao{
    color: white;
}
.apresentacao h1{
    font-size: 5rem 
}
.apresentacao p{
    font-size: 2rem 
}

@media (max-width: 500px) {

    .apresentacao h1{
        font-size: 3rem 
    }
    .apresentacao p{
        font-size: 1.1rem 
    }
    .conteudo-card{
        flex-direction: column;
        align-items: center;
        
    }
    .card{
        margin-bottom: 20px;
    }
    .botao{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .botao .btn{
        width: 60%;
        margin: 10px;
    }
}